	html {
		height: 100%;
		overflow: hidden;
	}

	.orange {
		color: #E9633B;
	}
	
	.aqua {
		color: #63AA9C;
	}
	
	.highlight {
		color: #221E1D;
	}
	
	.hidden {
		visibility: hidden;
	}

	/* For mobile phones: */

	body {
		background-color: blue;
	}
	


@media only screen and (min-width: 600px) {
    /* For tablets: */

	body {
		background-color: green;
	}
	
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

	body {
		background-color: #221E1D;
		color: #221E1D;
		font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	}
	
	#wrapper {
		background-color: #ECEAE0;
		border: 1px dashed #221E1D;
		border-radius: 10px;
		box-shadow: 0 0 0 4px #ECEAE0, 2px 1px 3px 4px #ECEAE0, -2px -1px 3px 4px #ECEAE0;
		color: #221E1D;
		padding: 1vh 1vw;
		height: 90vh;
		margin: 4vh auto 0 auto;
		width: 80vw;
	}
	
	#title {
		height: 10vh;
		text-align: center;
		width: 80vw;
	}
	
	#title h1 {
		font-variant: small-caps;
		font-weight: normal;
		letter-spacing: 10px;
		line-height: 10vh;
		margin: 0;
	}
	
	#content {
		height: 70vh;
		width: 80vw;
	}
	
	#firstGame {
		background-color: transparent;
		font-variant: small-caps;
		font-weight: bold;
		font-size: 1em;
		height: 70vh;
		letter-spacing: 5px;
		line-height: 65vh;
		margin-top: 5vh;
		padding: 0;
		width: 40vw;
	}
	
	#board {
		float: left;
		height: 80vh;
		text-align: center;
		width: 40vw;
	}
	
	#board table {
		border-collapse: collapse;
		height: 70vh;
		margin: 5vh auto 0 auto;
		width: 30vw;
	}
	
	#board #playmat {
		opacity: 0;
		-webkit-transition: opacity 0.75s ease-in;
		-moz-transition: opacity 0.75s ease-in;
		-ms-transition: opacity 0.75s ease-in;
		-o-transition: opacity 0.75s ease-in;
		transition: opacity 0.75s ease-in;
	}
	
	#board td {
		border: 2px solid #221E1D;
		font-size: 6em;
		height: 20vh;
		opacity: 0;
		padding: 0;
		text-align: center;
		width: 10vw;
		-webkit-transition: opacity 0.25s ease-in;
		-moz-transition: opacity 0.25s ease-in;
		-ms-transition: opacity 0.25s ease-in;
		-o-transition: opacity 0.25s ease-in;
		transition: opacity 0.25s ease-in;
	}
	
	#board #r1c1, #board #r1c2, #board #r1c3 {
		border-top: 0;
	}
	
	#board #r1c3, #board #r2c3, #board #r3c3 {
		border-right: 0;
	}
	
	#board #r3c1, #board #r3c2, #board #r3c3 {
		border-bottom: 0;
	}
	
	#board #r1c1, #board #r2c1, #board #r3c1 {
		border-left: 0;
	}
	
	#info {
		float: right;
		height: 65vh;
		padding-left: 1vw;
		width: 39vw;
	}
	
	#scoreboard table {
		border-collapse: collapse;
		height: 10vh;
		margin: 5vh auto 0 auto;
		width: 30vw;
	}
	
	#scoreboard th {
		border: 1px solid #221E1D;	
	}
	
	#scoreboard th:only-child {
		font-weight: bold;
		letter-spacing: 5px;
	}
	
	#scoreboard td {
		border: 1px solid #221E1D;
		height: 3vh;
		padding: 0;
		text-align: center;
		width: 10vw;
	}
	
	#players {
		margin: auto;
		width: 10vw;
	}
	
	#newGame {
		background-color: #221E1D;
		border: 0;
		color: #ECEAE0;
		font-weight: bold;
		font-variant: small-caps;
		height: 5vh;
		letter-spacing: 2px;
		margin-top: 5px;
		width: 10vw;
	}
	
	#newGame:hover {
		background-color: #37312f;
		transition: background-color 0.75s ease-in-out;
	}
	
	#rules {
		height: 31vh;
		margin: 3vh 0;
	}
	
	#rules li {
		padding-bottom: 10px;
	}
	
	#settings {
		height: 15vh;
		padding-left: 1vw;
		overflow: auto;
		width: 39vw;
	}
	
	#settings form div {
		display: inline;
	}
	
	#settings h2 {
		display: inline;
		margin: 0;
		padding: 0;
	}
	
	/* radio buttons */

	/* Horizontal alignment of buttons */
	ul li {
		display: inline;
		position: relative;
		float: left;
		padding: 0 10px;
	}

	/* Hide the default radio button */
	ul li input[type=radio] {
		position: absolute;
		visibility: hidden;
	}

	/* */
	ul li label {
		display: block;
		position: relative;
		cursor: pointer;
		-webkit-transition: all 0.25s linear;
	}

	/* Outer circle of custom radio button */

	ul li .check {
		display: inline-block;
		border: 1px solid #AAAAAA;
		border-radius: 100%;
		height: 10px;
		margin-right: 5px;
		width: 10px;
		transition: border .25s linear;
		-webkit-transition: border .25s linear;
	}

	/* Hover effects */
	ul li:hover label {
		color: #63AA9C;
	}

	ul li:hover .check {
		border: 1px solid #63AA9C;
	}

	/* Inner circle of custom radio button */
	ul li .check::before {
		display: block;
		position: absolute;
		content: '';
		border-radius: 100%;
		height: 10px;
		width: 10px;
		transition: background 0.25s linear;
		-webkit-transition: background 0.25s linear;
	}

	/* Indicator for selected option */
	input[type=radio]:checked ~ label .check {
		border: 1px solid #221E1D;
	}

	input[type=radio]:checked ~ label .check::before {
		background: #63AA9C;
	}

	/* Label */
	input[type=radio]:checked ~ label {
		color: #63AA9C;
	}
	
	
}
