<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>myGeneralManager</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="A Hockey Simulator">
	<meta name="author" content="esy">

	<link rel="stylesheet" href="../styles/draftPlayers.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
</head>

<body>
	
	<header>
		<div id="help">Help
		</div>
		<div>Select Team
		</div>
		<div id="currentTab">Draft Players
		</div>
		<div>Set Line-up
		</div>
		<div>Start Season
		</div>
	</header>
	
	<main>
		<div id="filterList">
			<div class="title">
				<h2>Filters</h2>
				<span class="tooltip">The list of available players can be <span class="important">filtered</span> by player position or by team. You can also <span class="important">order</span> the list by certain categories!</span>
			</div>
			<h3>Filter By: <span id="otherArrow" class="toggle">&#9650;</span></h3>
			<div id="otherFilter">
				<input type="radio" id="allFilter" name="filter" value="allFilter" onchange="filterList()" checked="checked">
				<label for="allFilter">All</label><br>
				<input type="radio" id="forwardFilter" name="filter" value="forwardFilter" onchange="filterList()">
				<label for="forwardFilter">Forwards</label><br>
				<input type="radio" id="centerFilter" name="filter" value="centerFilter" onchange="filterList()">
				<label for="centerFilter">Centers</label><br>
				<input type="radio" id="leftwingFilter" name="filter" value="leftwingFilter" onchange="filterList()">
				<label for="leftwingFilter">Left Wings</label><br>
				<input type="radio" id="rightwingFilter" name="filter" value="rightwingFilter" onchange="filterList()">
				<label for="rightwingFilter">Right Wings</label><br>
				<input type="radio" id="defenseFilter" name="filter" value="defenseFilter" onchange="filterList()">
				<label for="defenseFilter">Defensemen</label><br>
				<input type="radio" id="goalieFilter" name="filter" value="goalieFilter" onchange="filterList()">
				<label for="goalieFilter">Goalies</label><br>
				<input type="radio" id="teamFilter" name="filter" value="teamFilter" onchange="initiateDropDown()">
				<label for="teamFilter">Team</label><br>
			</div>
			<div id="dropdownFilter" onchange="dropdownList()">
				<select size="1" id="teamList" class="none">
					<option value="LGE" id="LGE">All Teams</option>
				</select>
			</div>
			<h3>Order By: <span id="orderArrow" class="toggle">&#9650;</span></h3>
			<div id="orderFilter">
				<ul>
					<li>Last Name
						<div class="orderBy" onclick="orderList('lname')">desc </div>
						<div class="orderBy" onclick="orderListReverse('lname')"> asc &nbsp; </div>
					</li>
				</ul>
				<ul>
					<li>First Name
						<div class="orderBy" onclick="orderListReverse('fname')"> desc </div>
						<div class="orderBy" onclick="orderList('fname')">asc  &nbsp;</div>
					</li>
				</ul>
				<ul>
					<li>Overall
						<div class="orderBy" onclick="orderListReverse('overall')"> desc </div>
						<div class="orderBy" onclick="orderList('overall')">asc  &nbsp;</div>
					</li>
				</ul>
				<ul id="orderOffense" class="none">
					<li>Offense
						<div class="orderBy" onclick="orderListReverse('offense')"> desc </div>
						<div class="orderBy" onclick="orderList('offense')">asc  &nbsp;</div>
					</li>
				</ul>
				<ul id="orderDefense" class="none">
					<li>Defense
						<div class="orderBy" onclick="orderListReverse('defense')"> desc </div>
						<div class="orderBy" onclick="orderList('defense')">asc  &nbsp;</div>
					</li>
				</ul>
				<ul id="orderPhysical" class="none">
					<li>Physical
						<div class="orderBy" onclick="orderListReverse('physical')"> desc </div>
						<div class="orderBy" onclick="orderList('physical')">asc  &nbsp;</div>
					</li>
				</ul>
				<ul id="orderVision" class="none">
					<li>Vision
						<div class="orderBy" onclick="orderListReverse('vision')"> desc </div>
						<div class="orderBy" onclick="orderList('vision')">asc  &nbsp;</div>
					</li>
				</ul>
				<ul id="orderQuickness" class="none">
					<li>Quickness
						<div class="orderBy" onclick="orderListReverse('quickness')"> desc </div>
						<div class="orderBy" onclick="orderList('quickness')">asc  &nbsp;</div>
					</li>
				</ul>
				<ul id="orderRebound" class="none">
					<li>Rebound
						<div class="orderBy" onclick="orderListReverse('rebound')"> desc </div>
						<div class="orderBy" onclick="orderList('rebound')">asc  &nbsp;</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="playerDraft">
			<div id="availablePlayers">
				<div class="title">
					<h2>Available Players</h2>
					<span class="tooltip">Displays the pool of <span class="important">undrafted</span> players. Scroll through the list or use the <span class="important">Search Bar</span> to locate a player quickly!</span>
				</div>
				<div id="search">
					<input type="text" id="searchFilter" name="searchFilter" placeholder="Search Player" onkeyup="searchList('ranking')">
				</div>
				<div onchange="selectPlayer()">
					<select size="10" id="playerList">
						<option id="loadingMessage">Loading list . . .</option>
					</select>
				</div>
			</div>
			<div id="playerQueue">
				<div class="title">
					<h2>Queue</h2>
					<span class="tooltip"><span class="important">Add</span> players to your queue so that they are drafted instead when time runs out! You can set the <span class="important">priority</span> each player.</span>
				</div>
			</div>
		</div>
		<div id="playerCard">
			<div class="title">
				<h2>Player Card</h2>
				<span class="tooltip">Displays the <span class="important">selected</span> player's information. Players can be added to your team by <span class="important">clicking</span> on the Add Player button.</span>
			</div>
			<div id="cardHeading">
				<div id="cardText">
					<div id="cardName">
						<span id="cardFN"></span>
						<span id="cardLN"></span>
					</div>
					<br>
					<div id="cardPosition">
						<span id="cardPos"></span>
						<span id="cardType"></span>
					</div>
				</div>
				<div id="cardOverall">
					<span id="overallTitle"></span>
					<span id="overallNumber"></span>
				</div>
			</div>
			<div id="cardGraphic">
				<img src="../assets/forwardSilhouette.png" height="450" width="800">
			</div>
			<div id="cardDetails">
				<div>
					<span id="cardTeam"></span>
					<br>
					<span id="cardNation"></span>
				</div>
			</div>
			<div id="cardInfo">
				<div id="cardPlaceholder">Select a Player!</div>
				<table>
					<tr>
						<th id="cat1"></th>
						<th id="cat2"></th>
						<th id="cat3"></th>
					</tr>
					<tr>
						<td id="cardOffense"></td>
						<td id="cardDefense"></td>
						<td id="cardPhysical"></td>
					</tr>
				</table>
			</div>
			<div id="cardAdd">
				<button onclick="addPlayer()">Add Player</button>
			</div>
		</div>
		<div id="draftSummary">
			<div class="title">
				<h2>Draft Summary</h2>
				<span class="tooltip">The draft will be divided into <span class="important">20</span> rounds. The results of each round are summarized here. <span class="important">Click</span> on the tabs to select a specific round.</span>
			</div>
			<div id="timer">
				<h2><span id="min">2</span>:<span id="sec">00</span></h2>
				<span class="tooltip">Each team has <span class="important">2 minutes</span> to select a player. If you exceed this time limit, your player will be drafted <span class="important">automatically!</span></span>
			</div>
			<div id="roundSummary">
			<div id="roundList">
				<div class="roundTab">Round 1</div>
			</div>
				<ul>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
					<li>TEST</li>
				</ul>
			</div>
		</div>
		<div id="teamSummary">
			<div class="title">
				<h2>Team Summary</h2>
				<span class="tooltip">Displays a running list of all the players that you have <span class="important">drafted</span> so far. Do your best to build the <span class="important">best</span> team possible!</span>
			</div>
		</div>
		<div id="userInfo">
			<div id="teamBreakdown">
			</div>
			<div id="canvas">
				<canvas id="layer1">Your browser does not support the HTML5 canvas tag.</canvas>
				<canvas id="layer2"></canvas>
			</div>
			<div id="rosterSlots">
				<ul>
					<li>
						<span id="countC">Centers: 0/4</span>
						<div id="centerTotal">
							<div id="centerCheck"></div>
							<div id="centerProgress"></div>
						</div>
					</li>
					<li>
						<span id="countLW">Left Wings: 0/4</span>
						<div id="leftWingTotal">
							<div id="leftWingCheck"></div>
							<div id="leftWingProgress"></div>
						</div>
					</li>
					<li>
						<span id="countRW">Right Wings: 0/4</span>
						<div id="rightWingTotal">
							<div id="rightWingCheck"></div>
							<div id="rightWingProgress"></div>
						</div>
					</li>
					<li>
						<span id="countD">Defensemen: 0/6</span>
						<div id="defenseTotal">
							<div id="defenseCheck"></div>
							<div id="defenseProgress"></div>
						</div>
					</li>
					<li>
						<span id="countG">Goalies: 0/2</span>
						<div id="goalieTotal">
							<div id="goalieCheck"></div>
							<div id="goalieProgress"></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</main>
	
	<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
	<script src="../scripts/fbconnect.js"></script>	
	<script src="../scripts/mainPlayerDraft.js"></script>
	<script src="../scripts/timer.js"></script>
	<script src="../scripts/canvas.js"></script>
	<script src="../scripts/toggle.js"></script>
	
</body>
</html>